<?xml version="1.0" encoding="UTF-8"?>
<TaqaLEDCurtain>
	<UpdateURL path="http://" />
	<!-- inside user's documents directory -->
	<VideoPath path="TaqaLEDCurtainVideos"/>
	<APIEndpoints>
		<APIBaseURL path="http://taqa-cms.local:8888/" />
		<ImageBasePath path="sites/default/files/imagecache/" />
		<SettingsFeed path="http://taqa-cms.local:8888/feeds/settings" />
		<SmallLEDFeed path="http://taqa-cms.local:8888/feeds/small-led" />
		<CinemaLEDFeed path="http://taqa-cms.local:8888/feeds/cinema-led" />
	</APIEndpoints>
	<LoaderMax name="locale-assets" load="true">
        <SWFLoader url="assets/fonts/TaqaFonts.swf" name="taqa-fonts" estimatedBytes="100100"  />
    </LoaderMax>
    <RandomArabicString>بسبب بالتوقيع بريطانيا، قصف, ما أواخر السبب الخطّة حيث. قد لغات لفشل الحزب يتم, قبل بداية ومطالبة بعتادم</RandomArabicString>
</TaqaLEDCurtain>