<?xml version="1.0" encoding="UTF-8"?>
<TaqaLEDCurtain>
	<UpdateURL path="http://" />
	<!-- inside user's documents directory -->
	<VideoPath path="TaqaLEDCurtainVideos"/>
	<APIEndpoints>
		<APIBaseURL path="http://devmacmini.local:8888//kca/" />
		<ImageBasePath path="sites/default/files/imagecache/" />
		<SettingsFeed path="http://devmacmini.local:8888/kca/feeds/settings" />
		<SmallLEDFeed path="http://devmacmini.local:8888/kca/feeds/small-led" />
		<CinemaLEDFeed path="http://devmacmini.local:8888/kca/feeds/cinema-led" />
		<UpdatedFeed path="http://devmacmini.local:8888/kca/feeds/settings_updated" />
	</APIEndpoints>
	<LoaderMax name="locale-assets" load="true">
        <SWFLoader url="assets/fonts/TaqaFonts.swf" name="taqa-fonts" estimatedBytes="100100"  />
    </LoaderMax>
    <RandomArabicString>بسبب بالتوقيع بريطانيا، قصف, ما أواخر السبب الخطّة حيث. قد لغات لفشل الحزب يتم, قبل بداية ومطالبة بعتادم</RandomArabicString>
    <ErrorMessage>SERVER IS DOWN!! SERVER IS DOWN!!</ErrorMessage>
</TaqaLEDCurtain>